// Container widths
.container {
	@media (min-width: $screen-hd-min) {
		width: $container-hd;
	}

	@media (min-width: $screen-fhd-min) {
		width: $container-fhd;
	}

	@media (min-width: $screen-rt-min) {
		width: $container-rt;
	}

	@media (min-width: $screen-rt15-min) {
		width: $container-rt15;
	}

	@media (min-width: $screen-4k-min) {
		width: $container-4k;
	}

	@media (min-width: $screen-8k-min) {
		width: $container-5k;
	}
}

// Columns
@include make-big-grid-columns();

// Grids
@media (min-width: $screen-hd-min) {
	@include make-grid(hd);
}

@media (min-width: $screen-fhd-min) {
	@include make-grid(fhd);
}

@media (min-width: $screen-rt-min) {
	@include make-grid(rt);
}

@media (min-width: $screen-rt15-min) {
	@include make-grid(rt15);
}

@media (min-width: $screen-4k-min) {
	@include make-grid(4k);
}

@media (min-width: $screen-5k-min) {
	@include make-grid(5k);
}

@media (min-width: $screen-8k-min) {
	@include make-grid(8k);
}
